<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keren.activity"
    android:versionCode="3"
    android:versionName="1.2">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- SDK 相关声明 -->
    <application
        android:name="com.keren.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_i"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".HuoChe"
            android:screenOrientation="portrait"/>
        <activity android:name=".Weather"
            android:screenOrientation="portrait"/>
        <activity android:name=".WeatherSaveInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".WeatherSelectCity"
            android:screenOrientation="portrait"/>
        <activity android:name=".KuaiDiMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.keren.sortlistview.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".KuaiDiListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".KuaiDiHishtory"
            android:screenOrientation="portrait"/>
        <!-- 声明SDK所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"></service>
        <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"></activity>
        <!-- 360广告 -->
        <!-- 注册QhAdService服务： -->
        <service
            android:name="com.qhad.ads.sdk.service.QhAdService"
            android:enabled="true"
            android:exported="false"></service>
        <!-- 注册QhAdActivity： -->
        <activity
            android:screenOrientation="portrait"
            android:name="com.qhad.ads.sdk.adcore.QhAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity
            android:name=".BiJiMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".BiJiAddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BiJiNoteActvity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PhoneFindActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IDCardActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_idcard"></activity>
    </application>

</manifest>