*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/baibaoxiang/libs/nineoldandroids-2.4.0.jar
/baibaoxiang/libs/ApiStoreSDK1.0.4.jar
/baibaoxiang/libs/qhad_0.1.12.1113.jar
/baibaoxiang/libs/locSDK_4.0.jar
/baibaoxiang/libs/GDTUnionSDK.4.8.521.min.jar
/baibaoxiang/libs/wae-for-debug.jar
!/baibaoxiang/libs/ApiStoreSDK1.0.4.jar
!/baibaoxiang/libs/wae-for-debug.jar
!/baibaoxiang/libs/GDTUnionSDK.4.8.521.min.jar
!/baibaoxiang/libs/nineoldandroids-2.4.0.jar
!/baibaoxiang/libs/locSDK_4.0.jar
!/baibaoxiang/libs/qhad_0.1.12.1113.jar
